    body{
        background-color: rgb(12, 12, 12);
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    h1{
        text-align: center;
        font-size:75px;
        color: cornsilk;
    }
    button{
        color:darkblue;
        background-color: yellowgreen;
        font-size: x-large;
        padding: 20px 30px;
        cursor:help;
        border-radius: 10px;
    }